{% extends 'base.html' %}

{% load static %}
{% block css_additional %}
<link rel="stylesheet" href=" {% static 'horoscope/css/index.css' %} ">
<link rel="stylesheet" href=" {% static 'horoscope/css/info.css' %} ">
{% endblock %}

{% block title %}
    Меню
{% endblock %}


{% block content %}
    {% include 'includes/navbar.html' %}
    <ul>
        {% for zodiac in zodiacs %}
            {% if forloop.first  %}
                <li><b>{{ forloop.counter0 }} <a href="/horoscope/{{zodiac}}/">{{ zodiac|title }}</a></b></li>
            {% elif forloop.last %}
                <li style="color:red">{{ forloop.counter0 }} <a href="{{zodiac}}/">{{ zodiac|title }}</a></li>
            {% else %}
                <li>{{ forloop.counter0 }} <a href="{% url 'horoscope-name' sign_zodiac=zodiac%}">{{ zodiac|title }}</a></li>
            {%endif%}
        {% endfor %}
    </ul>
<!--    {% for key, value in zodiac_dict.items reversed %}-->
<!--        <p>{{key}}: {{value}}</p>-->
<!--    {% empty %}-->
<!--        <p>Your dictionary is empty.</p>-->
<!--    {% endfor %}-->
    {% include 'includes/navbar.html' %}

{% endblock %}